.boton {
    background-color: #0077cc;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.boton:hover {
    background-color: #005fa3;
}

img {
    float:left;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px #aaa;
    margin-bottom:20px ;
}

article{
    float:right;
    overflow: hidden;
}

main{
    overflow: hidden;
}

.bloque1{
    float:right;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.titulo-principal {
  text-align: center;
  margin-top: 20px;
}

.contenedor-videos {
  display: flex;              
  justify-content: center;    
  gap: 20px;                  
  flex-wrap: wrap;            
  padding: 20px;
}

.video {
  text-align: center;         
  width: 45%;                 
}

video {
  width: 100%;             
  border-radius: 10px;        
}

h3 {
  margin-top: 10px;
}

.foto_autor1{
  margin-left:1%;
  margin-right: 5%;
  margin-top: 1%;
}

.foto_autor2{
  margin-right: 3%;
}