.grid-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px;
}

article {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #fdfdfd;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

article:hover {
    transform: translateY(-5px);
}
.boton {
    background-color: #0077cc;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.boton:hover {
    background-color: #005fa3;
}