.circulo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border-color: purple;
}

body {
    background-color: #f2f2f2;
    font-family: "Poppins", sans-serif;
}

.tarjeta {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.tarjeta img {
    width: 100%;
    border-radius: 8px;
}