body { 
 font-family: 'Segoe UI', sans-serif; 
 background-color: #f0f0f0; 
 padding: 40px; 
} 
h1 { 
 color: #333; 
 margin-bottom: 30px; 
text-align: center; 
} 
.ranking { 
 list-style-position: inside;
 padding: 0; 
 max-width: 400px; 
 margin: 0 auto; 
} 
.ranking li { 
 background-color: #ffffff; 
 margin: 15px 0; 
 padding: 15px;
 border-radius: 8px; 
 box-shadow: 2px 2px 8px rgba(0,0,0,0.1); 
 transition: background-color 0.3s ease;
 cursor: pointer;
 } 
.ranking li:hover { 
 background-color: rgb(56, 142, 56); 
}