body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 40px;
}

.ranking li {
    background-color: #e8e8e8;
    margin: 15px 0;
    padding: 15px;
    border-radius: 6px;
    transition: background-color .3s;
}

.ranking li:hover {
    background-color: red;
    cursor: pointer;
}
