body { 
 margin: 0;
 background-color: #f0f0f0; 
 font-family: 'Segoe UI', sans-serif; 
 padding: 50px 0;
} 
header, nav, main, footer {
 width: 600px;  
 padding: 20px;  
 text-align: center; 
 margin:0 auto;
} 
header { 
 background-color:red; 
 color: white; 
} 
nav { 
 background-color: yellow; 
 color: white; 
} 
main { 
 background-color:#c5113e; 
 color: #333; 
} 
footer { 
 background-color: green; 
 color: #222; 
} 
body { 
 margin: 0; 
 background-color: rgb(255, 255, 255); 
 font-family: 'Segoe UI', sans-serif; 
 align-items: center; 
}