form {
  width: 350px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: Arial;
  background-color: rgba(255, 255, 255, 0.8);
  text-decoration: solid black;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 15px;
}

input, select {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}

.error {
  color: red;
  font-size: 0.8em;
}

body{
  background-image: url('../IMAGES/mapa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}